body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
}
#u1073 {
  position:absolute;
  left:33px;
  top:114px;
  width:320px;
  height:46px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1077 {
  position:absolute;
  left:99px;
  top:418px;
  width:90px;
  height:90px;
  line-height:28px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:41px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1079 {
  position:absolute;
  left:112px;
  top:484px;
  width:64px;
  height:15px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1082 {
  position:absolute;
  left:191px;
  top:418px;
  width:90px;
  height:90px;
  line-height:28px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:41px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1084 {
  position:absolute;
  left:208px;
  top:484px;
  width:62px;
  height:15px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1088 {
  position:absolute;
  left:99px;
  top:510px;
  width:90px;
  height:90px;
  line-height:28px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:41px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1090 {
  position:absolute;
  left:109px;
  top:575px;
  width:73px;
  height:15px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u1091 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u1094 {
  position:absolute;
  left:191px;
  top:510px;
  width:90px;
  height:90px;
  line-height:28px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:41px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1096 {
  position:absolute;
  left:197px;
  top:577px;
  width:84px;
  height:16px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1097 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:190px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1098 {
  position:absolute;
  left:41px;
  top:170px;
  width:304px;
  height:190px;
  opacity:0.349999994039536;
}
#u1099 {
  position:absolute;
  left:2px;
  top:87px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:34px;
}
#u1100 {
  position:absolute;
  left:41px;
  top:120px;
  width:45px;
  height:34px;
  opacity:0.600000023841858;
}
#u1101 {
  position:absolute;
  left:2px;
  top:9px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1102 {
  position:absolute;
  left:69px;
  top:114px;
  width:29px;
  height:29px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1104 {
  position:absolute;
  left:73px;
  top:120px;
  width:20px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u1106 {
  position:absolute;
  left:390px;
  top:111px;
  width:480px;
  height:176px;
  font-size:14px;
  color:#FF0000;
}
#u1107 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u1108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:19px;
}
#u1111 {
  position:absolute;
  left:451px;
  top:320px;
  width:216px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1112 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u1113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:180px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1114 {
  position:absolute;
  left:439px;
  top:309px;
  width:241px;
  height:180px;
  opacity:0.699999988079071;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1115 {
  position:absolute;
  left:2px;
  top:82px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:35px;
}
#u1116 {
  position:absolute;
  left:451px;
  top:360px;
  width:216px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u1117 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u1118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:52px;
}
#u1119 {
  position:absolute;
  left:442px;
  top:436px;
  width:235px;
  height:51px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:18px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  background:linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1121 {
  position:absolute;
  left:568px;
  top:443px;
  width:99px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1121_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  background:linear-gradient(180deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1121.mouseOver {
}
#u1121_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  background:linear-gradient(180deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1121.mouseDown {
}
#u1122 {
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:2px;
}
#u1123 {
  position:absolute;
  left:439px;
  top:347px;
  width:235px;
  height:1px;
}
#u1124 {
  position:absolute;
  left:2px;
  top:-8px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1125 {
  position:absolute;
  left:451px;
  top:320px;
  width:25px;
  height:23px;
}
#u1126 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  background:linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1127 {
  position:absolute;
  left:459px;
  top:443px;
  width:99px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1127_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  background:linear-gradient(180deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1127.mouseOver {
}
#u1127_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  background:linear-gradient(180deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1127.mouseDown {
}
#u1128 {
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
#u1129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1130 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:19px;
}
#u1132 {
  position:absolute;
  left:721px;
  top:320px;
  width:216px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1133 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u1134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:180px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1135 {
  position:absolute;
  left:709px;
  top:309px;
  width:241px;
  height:180px;
  opacity:0.699999988079071;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u1136 {
  position:absolute;
  left:2px;
  top:82px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:18px;
}
#u1137 {
  position:absolute;
  left:721px;
  top:360px;
  width:216px;
  height:18px;
  font-size:14px;
  color:#FFFFFF;
}
#u1138 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u1139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:52px;
}
#u1140 {
  position:absolute;
  left:712px;
  top:436px;
  width:235px;
  height:51px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:18px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  background:linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1142 {
  position:absolute;
  left:838px;
  top:443px;
  width:99px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1142_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  background:linear-gradient(180deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1142.mouseOver {
}
#u1142_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  background:linear-gradient(180deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1142.mouseDown {
}
#u1143 {
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
#u1144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:2px;
}
#u1144 {
  position:absolute;
  left:709px;
  top:347px;
  width:235px;
  height:1px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:-8px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1146 {
  position:absolute;
  left:721px;
  top:320px;
  width:25px;
  height:23px;
}
#u1147 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  background:linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1148 {
  position:absolute;
  left:729px;
  top:443px;
  width:99px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1148_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  background:linear-gradient(180deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1148.mouseOver {
}
#u1148_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  background:linear-gradient(180deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1148.mouseDown {
}
#u1149 {
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1150 {
  position:absolute;
  left:235px;
  top:282px;
  width:95px;
  height:14px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1151 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u1152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1152 {
  position:absolute;
  left:112px;
  top:198px;
  width:136px;
  height:15px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u1153 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u1154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1154 {
  position:absolute;
  left:232px;
  top:248px;
  width:22px;
  height:22px;
}
#u1155 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1156 {
  position:absolute;
  left:248px;
  top:194px;
  width:22px;
  height:22px;
}
#u1157 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:62px;
}
#u1158 {
  position:absolute;
  left:80px;
  top:220px;
  width:95px;
  height:62px;
}
#u1159 {
  position:absolute;
  left:2px;
  top:23px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:62px;
}
#u1160 {
  position:absolute;
  left:205px;
  top:220px;
  width:85px;
  height:62px;
}
#u1161 {
  position:absolute;
  left:2px;
  top:23px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u1162 {
  position:absolute;
  left:80px;
  top:307px;
  width:95px;
  height:13px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u1163 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1164 {
  position:absolute;
  left:80px;
  top:282px;
  width:95px;
  height:14px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1165 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u1166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u1167 {
  position:absolute;
  left:314px;
  top:120px;
  width:36px;
  height:34px;
  opacity:0.699999988079071;
}
#u1168 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169 {
  position:absolute;
  left:186px;
  top:119px;
  width:167px;
  height:40px;
}
#u1169_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:173px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1170 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:45px;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u1171 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  text-align:center;
}
#u1172 {
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173 {
  position:absolute;
  left:0px;
  top:40px;
  width:165px;
  height:101px;
  visibility:hidden;
}
#u1173_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:171px;
  height:107px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1174 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:106px;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
}
#u1175 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
  text-align:center;
}
#u1176 {
  position:absolute;
  left:2px;
  top:2px;
  width:161px;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
}
#u1177 {
  position:absolute;
  left:0px;
  top:20px;
  width:165px;
  height:20px;
  text-align:center;
}
#u1178 {
  position:absolute;
  left:2px;
  top:2px;
  width:161px;
  word-wrap:break-word;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
}
#u1179 {
  position:absolute;
  left:0px;
  top:40px;
  width:165px;
  height:20px;
  text-align:center;
}
#u1180 {
  position:absolute;
  left:2px;
  top:2px;
  width:161px;
  word-wrap:break-word;
}
#u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
}
#u1181 {
  position:absolute;
  left:0px;
  top:60px;
  width:165px;
  height:20px;
  text-align:center;
}
#u1182 {
  position:absolute;
  left:2px;
  top:2px;
  width:161px;
  word-wrap:break-word;
}
#u1183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:21px;
}
#u1183 {
  position:absolute;
  left:0px;
  top:80px;
  width:165px;
  height:21px;
  text-align:center;
}
#u1184 {
  position:absolute;
  left:2px;
  top:3px;
  width:161px;
  word-wrap:break-word;
}
#u1185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  background:linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(202, 202, 202, 1) 75%, rgba(205, 205, 205, 1) 97%, rgba(205, 205, 205, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u1185 {
  position:absolute;
  left:253px;
  top:122px;
  width:46px;
  height:32px;
  font-size:14px;
  color:#000000;
}
#u1185_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  background:linear-gradient(180deg, rgba(254, 202, 44, 1) 0%, rgba(254, 202, 44, 1) 0%, rgba(232, 156, 0, 1) 37%, rgba(235, 162, 3, 1) 81%, rgba(246, 190, 21, 1) 100%, rgba(246, 190, 21, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u1185.mouseOver {
}
#u1185_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  background:linear-gradient(180deg, rgba(253, 163, 67, 1) 0%, rgba(253, 163, 67, 1) 0%, rgba(240, 102, 0, 1) 34%, rgba(240, 102, 0, 1) 79%, rgba(242, 161, 74, 1) 100%, rgba(242, 161, 74, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u1185.mouseDown {
}
#u1186 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u1187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow Bold', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1187 {
  position:absolute;
  left:80px;
  top:331px;
  width:116px;
  height:23px;
  font-family:'Arial Narrow Bold', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow Bold', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1189 {
  position:absolute;
  left:220px;
  top:331px;
  width:125px;
  height:23px;
  font-family:'Arial Narrow Bold', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1190 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u1191 {
  position:absolute;
  left:220px;
  top:307px;
  width:95px;
  height:13px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#949494;
}
#u1192 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1193 {
  position:absolute;
  left:41px;
  top:360px;
  width:304px;
  height:30px;
  opacity:0.349999994039536;
}
#u1194 {
  position:absolute;
  left:2px;
  top:7px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow Bold', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1195 {
  position:absolute;
  left:80px;
  top:366px;
  width:275px;
  height:19px;
  font-family:'Arial Narrow Bold', 'Arial Narrow', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u1196 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u1198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u1199 {
  position:absolute;
  left:33px;
  top:636px;
  width:320px;
  height:50px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1201 {
  position:absolute;
  left:125px;
  top:645px;
  width:53px;
  height:30px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1202 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u1203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1203 {
  position:absolute;
  left:58px;
  top:653px;
  width:47px;
  height:15px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1204 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1205 {
  position:absolute;
  left:221px;
  top:653px;
  width:54px;
  height:15px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1206 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1207 {
  position:absolute;
  left:293px;
  top:653px;
  width:53px;
  height:15px;
  font-family:'Arial Narrow', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1208 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u1209 {
  position:absolute;
  left:110px;
  top:636px;
  width:1px;
  height:50px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u1211 {
  position:absolute;
  left:192px;
  top:636px;
  width:1px;
  height:50px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u1213 {
  position:absolute;
  left:271px;
  top:636px;
  width:1px;
  height:50px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
